.portal-image{
   min-height: 400px;
}

@media (max-width: 767px) {

    .portal-image{
        min-height: auto;
    }
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.multi-item-carousel img{
    height: 250px;
    opacity: 0.8;
}
.multi-item-carousel .card-img-overlay{
   color: black;
}

/*red color style*/
.put-red{
    color: red;
}

/*typewriter effect*/
#text {
    display: inline-block;
    vertical-align: middle;
    color: orange;
    letter-spacing: 2px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 50px;
    background-color: red;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent
    }
    50% {
        background-color: red;
    }
}

.article-cover-content{
    margin-top: 30px;
    font-weight: bold;
}

/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo{
    overflow: hidden;
}
.img-hover-zoom--slowmo img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    /*filter: brightness(150%);*/
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
    /*filter: brightness(100%);*/
    transform: scale(3);
}

.put-gold{
    color: goldenrod;
}

.put-black{
    color: black;
}

.card-title a:hover{
    color: white;
}
.social-icons-float {
    margin-top: 70px;
    margin-left: 2px;
    float: right;
    position: fixed;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    right: 15px;
    color: goldenrod;
    /*bottom: 15px;*/
    z-index: 996;
    /*background: #2487ce;*/
    /*width: 40px;*/
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}
.social-icons-float a {
    font-size: 18px;
    display: inline-block;
    background: black;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.social-icons-float a:hover {
    background: goldenrod;
    color: black;
    text-decoration: none;
}
